In [2]:
#importy
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
#nacteni dat
data = pd.read_csv("dopravni_nehody.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74107 entries, 0 to 74106
Data columns (total 69 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   OBJECTID           74107 non-null  int64
 1   zuj                74107 non-null  object
 2   alkohol_vinik      74107 non-null  object
 3   hlavni_pricina     74107 non-null  object
 4   srazka             74107 non-null  object
 5   nasledky           74107 non-null  object
 6   pricina            74107 non-null  object
 7   stav_vozovky       74107 non-null  object
 8   povetrnostni_podm  74107 non-null  object
 9   rozhled            74107 non-null  object
 10  misto_nehody       74044 non-null  object
 11  druh_komun         74107 non-null  object
 12  pneumatiky         3108 non-null   object
 13  druh_pohonu        3539 non-null   object
 14  druh_vozidla       74107 non-null  object
 15  mestska_cast       74107 non-null  object
 16  pohlavi            54727 non-null  object
 17  alkohol            74107 non-null  object
 18  den_v_tydnu        74107 non-null  object
 19  mesic_t            74107 non-null  object
 20  katastr            74100 non-null  object
 21  chovani_chodce     3052 non-null   object
 22  stav_chodce        3052 non-null   object
 23  drogy_chodec       161 non-null    object
 24  alkohol_chodec     161 non-null    object
 25  osobni_prepravnik  160 non-null    object
 26  reflexni_prvky     160 non-null    object
 27  kategorie_chodce   3052 non-null   object
 28  nasledek           54781 non-null  object
 29  ozn_osoba          54742 non-null  object
 30  zavineni           74107 non-null  object
 31  viditelnost        74107 non-null  object
 32  situovani          74107 non-null  object
 33  osoba              51696 non-null  object
 34  stav_ridic         51609 non-null  object
 35  doba               74107 non-null  object
 36  smrt_po            30 non-null     float64
 37  lz                 74107 non-null  int64
 38  TARGET_FID         74107 non-null  int64
 39  Join_Count         74107 non-null  int64
 40  OBJECTID.1         74107 non-null  int64
 41  Join_Count.1       74107 non-null  int64
 42  TARGET_FID.1       74107 non-null  int64
 43  den                74107 non-null  int64
 44  vek                54636 non-null  float64
 45  smrt_dny           52291 non-null  float64
 46  rok_nar            54636 non-null  float64
 47  p48a               60257 non-null  float64
 48  p59d               54636 non-null  float64
 49  rok                74107 non-null  int64
 50  tz                 74107 non-null  int64
 51  smrt               74107 non-null  int64
 52  lehce_zran_os      74107 non-null  int64
 53  tezce_zran_os      74107 non-null  int64
 54  usmrceno_os        74107 non-null  int64
 55  id_vozidla         71055 non-null  float64
 56  hodina             74106 non-null  float64
 57  ovlivneni_ridice   51609 non-null  float64
 58  cas                74107 non-null  int64
 59  mesic              74107 non-null  int64
 60  e                  74107 non-null  float64
 61  d                  74107 non-null  float64
 62  id_nehody          74107 non-null  int64
 63  datum              74107 non-null  object
 64  hmotna_skoda       74107 non-null  int64
 65  skoda_vozidlo      74107 non-null  int64
 66  GlobalID           74107 non-null  object
 67  x                  74107 non-null  float64
 68  y                  74107 non-null  float64
dtypes: float64(13), int64(19), object(37)
memory usage: 39.0+ MB

C:\Users\Lukus\AppData\Local\Temp\ipykernel_18332\1678612811.py:2: DtypeWarning: Columns (12,13,21,22,23,24,25,26,27,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("dopravni_nehody.csv")

In [21]:
#prevedeni datum formatu a kontrola zacatku a konce sady
data['datum'] = pd.to_datetime(data['datum'])
print(data['datum'].max())
print(data['datum'].min())

C:\Users\Lukus\AppData\Local\Temp\ipykernel_18332\3531158681.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['datum'] = pd.to_datetime(data['datum'])

2023-12-31 00:00:00
2010-01-01 00:00:00

In [34]:
#filtrace dat pro minuly rok
start_date = pd.to_datetime('2023-01-01')
end_date = pd.to_datetime('2024-01-01')

data = data[(data['datum'] >= start_date) & (data['datum'] <= end_date)]
print(data['datum'].dtypes)

pd.options.display.max_info_columns = data.shape[1]
data.info()

print(data['datum'].max())
print(data['datum'].min())

datetime64[ns]
<class 'pandas.core.frame.DataFrame'>
Index: 4243 entries, 0 to 4242
Data columns (total 69 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   OBJECTID           4243 non-null   int64
 1   zuj                4243 non-null   object
 2   alkohol_vinik      4243 non-null   object
 3   hlavni_pricina     4243 non-null   object
 4   srazka             4243 non-null   object
 5   nasledky           4243 non-null   object
 6   pricina            4243 non-null   object
 7   stav_vozovky       4243 non-null   object
 8   povetrnostni_podm  4243 non-null   object
 9   rozhled            4243 non-null   object
 10  misto_nehody       4180 non-null   object
 11  druh_komun         4243 non-null   object
 12  pneumatiky         3108 non-null   object
 13  druh_pohonu        3539 non-null   object
 14  druh_vozidla       4243 non-null   object
 15  mestska_cast       4243 non-null   object
 16  pohlavi            2591 non-null   object
 17  alkohol            4243 non-null   object
 18  den_v_tydnu        4243 non-null   object
 19  mesic_t            4243 non-null   object
 20  katastr            4243 non-null   object
 21  chovani_chodce     161 non-null    object
 22  stav_chodce        161 non-null    object
 23  drogy_chodec       161 non-null    object
 24  alkohol_chodec     161 non-null    object
 25  osobni_prepravnik  160 non-null    object
 26  reflexni_prvky     160 non-null    object
 27  kategorie_chodce   161 non-null    object
 28  nasledek           2636 non-null   object
 29  ozn_osoba          2591 non-null   object
 30  zavineni           4243 non-null   object
 31  viditelnost        4243 non-null   object
 32  situovani          4243 non-null   object
 33  osoba              2434 non-null   object
 34  stav_ridic         2425 non-null   object
 35  doba               4243 non-null   object
 36  smrt_po            0 non-null      float64
 37  lz                 4243 non-null   int64
 38  TARGET_FID         4243 non-null   int64
 39  Join_Count         4243 non-null   int64
 40  OBJECTID.1         4243 non-null   int64
 41  Join_Count.1       4243 non-null   int64
 42  TARGET_FID.1       4243 non-null   int64
 43  den                4243 non-null   int64
 44  vek                2591 non-null   float64
 45  smrt_dny           0 non-null      float64
 46  rok_nar            2591 non-null   float64
 47  p48a               3341 non-null   float64
 48  p59d               2591 non-null   float64
 49  rok                4243 non-null   int64
 50  tz                 4243 non-null   int64
 51  smrt               4243 non-null   int64
 52  lehce_zran_os      4243 non-null   int64
 53  tezce_zran_os      4243 non-null   int64
 54  usmrceno_os        4243 non-null   int64
 55  id_vozidla         4082 non-null   float64
 56  hodina             4242 non-null   float64
 57  ovlivneni_ridice   2425 non-null   float64
 58  cas                4243 non-null   int64
 59  mesic              4243 non-null   int64
 60  e                  4243 non-null   float64
 61  d                  4243 non-null   float64
 62  id_nehody          4243 non-null   int64
 63  datum              4243 non-null   datetime64[ns]
 64  hmotna_skoda       4243 non-null   int64
 65  skoda_vozidlo      4243 non-null   int64
 66  GlobalID           4243 non-null   object
 67  x                  4243 non-null   float64
 68  y                  4243 non-null   float64
dtypes: datetime64[ns](1), float64(13), int64(19), object(36)
memory usage: 2.3+ MB
2023-12-31 00:00:00
2023-01-01 00:00:00

In [6]:
data.columns

Index(['OBJECTID', 'zuj', 'alkohol_vinik', 'hlavni_pricina', 'srazka',
       'nasledky', 'pricina', 'stav_vozovky', 'povetrnostni_podm', 'rozhled',
       'misto_nehody', 'druh_komun', 'pneumatiky', 'druh_pohonu',
       'druh_vozidla', 'mestska_cast', 'pohlavi', 'alkohol', 'den_v_tydnu',
       'mesic_t', 'katastr', 'chovani_chodce', 'stav_chodce', 'drogy_chodec',
       'alkohol_chodec', 'osobni_prepravnik', 'reflexni_prvky',
       'kategorie_chodce', 'nasledek', 'ozn_osoba', 'zavineni', 'viditelnost',
       'situovani', 'osoba', 'stav_ridic', 'doba', 'smrt_po', 'lz',
       'TARGET_FID', 'Join_Count', 'OBJECTID.1', 'Join_Count.1',
       'TARGET_FID.1', 'den', 'vek', 'smrt_dny', 'rok_nar', 'p48a', 'p59d',
       'rok', 'tz', 'smrt', 'lehce_zran_os', 'tezce_zran_os', 'usmrceno_os',
       'id_vozidla', 'hodina', 'ovlivneni_ridice', 'cas', 'mesic', 'e', 'd',
       'id_nehody', 'datum', 'hmotna_skoda', 'skoda_vozidlo', 'GlobalID', 'x',
       'y'],
      dtype='object')

In [35]:
data.loc[:, ['zuj', 'alkohol_vinik', ]]

                    zuj alkohol_vinik
0         Brno-Bosonohy            ne
1         Brno-Bosonohy            ne
2         Brno-Bosonohy            ne
3         Brno-Bosonohy            ne
4            Brno-střed            ne
...                 ...           ...
4238         Brno-střed            ne
4239         Brno-střed           ano
4240         Brno-střed           ano
4241  Brno-Královo Pole  nezjišťováno
4242           Brno-jih            ne

[4243 rows x 2 columns]